<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <h1>Hi, <%= name.name %>
            </h1>
            <h1>Select Rock Paper or Scissors</h1>



            <%- include('partials/footer.ejs') %>
                <%- include('partials/end.ejs') %>
