<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <p>
                <%= result %>
            </p>

            <a href="/multiplayergame1">Another Game?</a>
            <a href="/">Exit to main menu</a>



            <%- include('partials/footer.ejs') %>
                <%- include('partials/end.ejs') %>
