<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <p>
                <%= result %>
            </p>

            <a href="/game">Another Game?</a>



            <%- include('partials/footer.ejs') %>
                <%- include('partials/end.ejs') %>
